@import './../../../helpers';

.comic-image{
  transition: all 3s ease-out;/*todo vendor prefix*/
}

@media #{$desktop} {
  .comic-image {
    height: 100vh;
    width: auto;
    display: block;
    margin: auto;
  }
}
