@import './../../../helpers';

.comic-image{
  //transition: all 3s ease-out;/*todo vendor prefix*/
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;

}
.comic-image.visible{
  visibility:visible;
  opacity:1;
}

@media #{$desktop} {
  .comic-image {
    height: 100vh;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
