/* Master Styles */
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    transition: all 3s ease-out;/*todo vendor prefix*/
}

.shelf {
    padding: 75px 0;
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
}

[hidden] {
    display: none !important;
}