/* Master Styles */
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.shelf {
    padding: 75px 0;
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
}