<!--new login: https://jsfiddle.net/psdoojzw/-->
<form class="input_container" (submit)="login($event, username.value, password.value)">

    <div class="input_seperator">
        <input #username id="username" class="input_element" placeholder="Username">
    </div>
    <div class="input_seperator">
        <input #password id="password" class="input_element" placeholder="Password">
    </div>
    <div class="input_seperator">
        <button class="input_element" type="submit">Login</button>
    </div>
    <!--<div class="input_seperator">
        <a [routerLink]="['/register']">Click here to Signup</a>
    </div>-->
</form>
