:host{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 30%;
    background-color: pink;
    display: block;
    margin: auto;
}

/*
input#range_navigation{
    width: 95%;
    margin: 0 2.5%;
}*/

.comic-nav{

}
