:host {
    margin: 10px 1% 10px 1%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    text-align: center;
    min-width: 23%;
    max-width: 23%;
    flex-basis: auto;
    flex-grow: 1;
}
:host .information {
    padding: 20px;
}
:host img{
    width: 100%;
}
:host a{
    text-decoration: none;
    color: black;
}