#navigation{
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    border-bottom: 1px solid #CCC;
    z-index: 90;
    background-color: white;
}

#navigation ul {
    padding: 0;
    width: 350px;
    float: right;
    list-style: none;
}

#navigation ul li {
    margin: 0 10px;
    float: left;
}

#navigation ul li a, #navigation ul li label{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#file_input_id{
    display:none;
}