/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'helpers';

body {
  margin: 0;
  height: 100vh;
}

@media #{$desktop} {
  .container{
    max-width: $container-max-width;
    margin: 0 auto;
    height: inherit;
  }
}
