/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'helpers';

@font-face {
  font-family: 'Eurostile';
  src: url('./assets/Eurostile-Bold.eot');
  src: url('./assets/Eurostile-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/Eurostile-Bold.woff') format('woff'),
  url('./assets/Eurostile-Bold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


body {
  margin: 0;
  height: 100vh;
  font-family: /*'Eurostile', */'arial', 'sans-serif';
}

.container{
  position: relative;
}

@media #{$desktop} {
  .container{
    max-width: $container-max-width;
    margin: 0 auto;
    height: inherit;
  }
}
